.header__container {
  height: $header_height;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__navPanel {
  display: flex;
  align-items: center;

  .header__navItem {
    font-weight: 500;
    margin-right: rem(24px);
    line-height: rem(21px);
    @include unselectable;

    &:hover {
      cursor: pointer;
      opacity: 0.75;
    }
  }
}

.header__hamburgerIcon {
  display: flex;
  align-items: center;
  margin-right: 16px;

  &:active {
    opacity: 0.6;
  }
}
