$theadHeight: 63px;

.servers__wrapper {
  height: 100%;
  width: 100%;
}

.servers__loading,
.servers__error {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 24px;
}

.servers__tableWrapper {
  display: flex;
  justify-content: center;
  height: calc(100vh - $header_height);
  padding: rem(56px) rem(15px) rem(30px);

  .servers__tableScrollWrapper {
    width: rem(558px);
    height: 100%;
    overflow: overlay;
    border-radius: 10px;

    &::-webkit-scrollbar-track {
      margin-top: $theadHeight;
    }
  }

  .servers__table {
    width: 100%;
    border-collapse: collapse;
  }
}

.servers__thead {
  position: sticky;
  top: 0;
  background-color: #6425e1;

  .servers__th {
    padding: rem(20px) 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #4912b6;
      cursor: pointer;
    }
  }

  .servers__theadNaming {
    font-weight: 500;
    padding-right: rem(10px);
    line-height: rem(21px);
    text-transform: capitalize;
  }

  .servers__theadIcon {
    display: flex;
    align-items: center;
  }
}

.servers__tbody {
  background-color: white;

  > tr:hover {
    background-color: #e8e8e9;
  }

  .servers__td {
    width: 50%;
    color: black;
    font-weight: 500;
    padding: rem(12px) 0;
    line-height: rem(21px);
  }
}
