.layout__wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: black;
}

.layout__inner {
  height: calc(100vh - $header_height);
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-image: url("../shared/icons/contentbackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}
