.Layout__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: white;
}

.Layout__inner {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  height: 100%;
}
