.main__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background: lightblue;
  padding: rem(10px) rem(120px);

  @media screen and (max-width: 900px) {
    padding: rem(10px) rem(24px);
  }
}
